@tailwind base;
@tailwind components;
@tailwind utilities;

.span-head {
    font-size: 20px;
    font-weight: 600;
}

.i {
    color: #7cc2ff;
    cursor: pointer;
}

@keyframes infiniteScale {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(5);
    }

    100% {
        transform: scaleX(1);
    }
}

.animation-infinite {
    animation: infiniteScale 1s ease-in-out infinite;
    /* Adjust duration as needed */
}


.li {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;

}

.li:hover {
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(172, 248, 255, 0.836), 0 6px 20px 0 rgba(186, 255, 255, 0.89);

}

input[type=text],
input[type=email],
input[type="password"],
input[type=number] {
    border: 1px solid skyblue;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type="password"]:focus,
input[type=number]:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(172, 248, 255, 0.836), 0 6px 20px 0 rgba(186, 255, 255, 0.89);
}


button {
    background: black;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}